.header {
    background-color: #e1e1e1;
    width: 100%;
    height: 100px;
}

.content-header {
    background-color: #53545e;
    width: 600px;
    height: 100px;
    margin: auto;

}

.content, .footer-wrapper {
    background-color: #ffffff;
    width: 600px;
    margin: auto;

}

body {
    background-color: #f1f1f1;
    margin: 0px;
}

.larger-item {
    width: calc(100% - 60px);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-family: "MyriadProRegular"

}

.large-text {
    color: #bfc0c3;
    margin-right: 60px;
}

.button {
    background-color: #53545e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    margin-top: 30px;
    height: 30px;
    width: 80px;

    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: "MyriadProRegular";
}

.small-items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.small-items-wrapper:first-child {

}

.small-item {
    width: 40%;
    color: #bfc0c3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5%;
}

.add-space, .rick {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;;
    align-items: center;

}

.blog-post {

    color: #bfc0c3;

}

.stay-connected {
    background-color: #f1f1f1;
    width: 100%;
    height: 75px;
    margin: auto;

}

.last-block {
    background-color: #e1e1e1;
    width: 100%;
    height: 300px;
    margin: auto;
}

.logo-head img {
    margin-left: 30px;
    padding-top: 30px;
}

h1 {

    color: #53545e;

    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "MyriadProRegular"
}

.footer {
    background-color: #53545e;
    color: white;
    padding: 30px;
    font-family: "MyriadProRegular";
    font-size: 15px;
}

.summer {
    margin-left: 6%;
    display: flex;
    width: 24%;
    flex-direction: column;
}

.morty {
    width: 70%;
}

a {
    color: white;
    text-decoration: none;
}

.footer-wrapper {

}

.rick {
    margin-right: 0;
    line-height: 22px;

}

.poloska {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hui {
    float: left;
    color: #7a7b84;
}

.hui2 {
    float: right;
    color: #7a7b84;
}

.something {
    margin-right: 30px;
    float: right;
    margin-top: 45px;
    color: #a6a7b0;
    font-family: "MyriadProRegular";
}

.poloska2 {
    background-color: #eaeaea;
    width: 90%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

}

.stay-connected h1 {
    margin-left: 30px;
    font-family: "MyriadProRegular";
}

.colortext {
    color: white;
}

.blog-one, .blog-one2 {
    padding-right: 40px;
    margin-left: 30px;
}

.blog-one2 {
    padding-bottom: 30px;
}

@media only screen and (min-device-width: 320px)
and (max-device-width: 480px) {
    .content-header, .content, .footer-wrapper {
        width: auto;
    }

    .add-space {
        flex-direction: column;
    }

    .larger-item {
        width: calc(100% - 60px);
        display: flex;
        justify-content: center;
        flex-direction: column;

    }



    .button {
        height: 33px;
        width: 100px;
        font-size: 20px;
    }

    .h1 {
        font-size: 25px;
    }

    .stay-connected h1 {
        font-size: 20px;
        margin-top: 8px;

    }

    .small-item {
        font-size: 20px;
    }

    .small-item h1 {
        font-size: 20px;
    }

    .morty {
        font-size: 15px;
        line-height: 15px;
        margin-left: -5%;
        width: 64%;

    }

    .summer {
        font-size: 15px;
        line-height: 15px;
        margin-left: -5%;
        width: 40%;

    }

    .hui {
        font-size: 16px;
        margin-top: 0;
    }

    .hui2 {
        font-size: 16px;
        margin-top: -36px;
    }
    .something{
        margin-top: 0;
        margin-right: 0;
    }
    .logo-head img{
        margin-left: 0;
        padding-top: 0;

    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    .content-header, .content, .footer-wrapper {
        width: auto;
    }

    .larger-item {
        width: calc(100% - 60px);
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .small-items-wrapper {
        width: 100%;
    }
    .logo-head{

    }

}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    .content-header, .content, .footer-wrapper {
        width: auto;
    }

    .larger-item {
        width: calc(100% - 60px);
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .small-items-wrapper {
        width: 90%;
    }

}